.project-modal{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(56, 56, 56, 0.516);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.project-modal__body{
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 800px;
	min-height: 150px;
	padding: 20px;
	border-radius: 40px;
	background: linear-gradient(90deg, rgb(241, 235, 77,1) 0%,  rgba(255, 179, 0, 1) 100%);
}
.project-modal__body h4{
	font-size: 26px;
	margin: 10px;
}
.project-modal__body h5{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
}
.project-modal__body input{
	font-family: inherit;
	font-size: 16px;
	padding: 7px;
	width: 200px;
	border:none;
	border-radius: 30px;
	outline: none;
	margin-bottom: 20px;
	align-self: flex-start;
}
.project-modal__body textarea{
	font-family: inherit;
	font-size: 16px;
	border:none;
	outline: none;
	width: 500px;
	max-width: 700px;
	height: 200px;
	padding: 7px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.project-modal__body span{
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	font-size: 26px;
}
.project-modal__body button{
	font-family: inherit;
	font-size: 16px;
	padding: 8px 12px;
	border-radius: 30px;
	border: none;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.919);
	cursor: pointer;
	transition: all 0.2s ease;
	background: white;
}
.project-modal__body button:hover{
	box-shadow: 0px 0px 1px 1px rgb(244, 100, 48);
	color: rgb(244, 100, 48);
}

@keyframes showCreatePrModal {
	0%{
		opacity: 0;
		transform: scale(0.1);
	}
	100%{
		transform: scale(1);
	}
}


.project-modal__body.entered{
	animation: showCreatePrModal 0.3s forwards
}

.pr-error{
	transition: all 0.2s ease;
	box-shadow: 0px 0px 1px 2px rgb(239, 104, 104);
}
