.chart__modal{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(56, 56, 56, 0.516);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.accounting-chart{
	position: relative;
	background: linear-gradient(90deg, rgb(241, 235, 77,1) 0%,  rgba(255, 179, 0, 1) 100%);
	padding: 40px;
	border-radius: 20px;
	max-width: 600px;
	z-index: 3;
}
.showChart{
	display: block;
}
.accounting-chart__item{
	width: 600px !important;
	height: 300px  !important;
}
@media (max-width:1500px) {
	.accounting-chart__item{
		width: 400px !important;
		height: 200px  !important;
	}
}
.accounting-chart__close {
	font-size: 28px;
	position: absolute;
	top: 10px;
	right: 30px;
	cursor: pointer;
}
@media (max-width:580px) {
	.accounting-chart{
		padding: 20px;
	}
	.accounting-chart__item{
		width: 370px !important;
		height: 185px !important;
	}
}
@media (max-width:320px) {
	.accounting-chart{
		padding: 20px;
	}
	.accounting-chart__item{
		width: 320px !important;
		height: 160px !important;
	}
}

@keyframes showChart {
	0%{
		opacity: 0;
		transform: scale(0.1);
	}
	100%{
		transform: scale(1);
	}
}


.accounting-chart.entered{
	animation: showChart 0.3s forwards
}

