.rightside{
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 780px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
@media (max-width:1365px) {
	.rightside{
		max-width: 320px;
		margin-top:20px;
		max-height: 680px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.todolist{
		max-width: 320px;
		padding: 10px;
	}

	.react-calendar.calendar{
		max-width: 250px;
	}
	.react-calendar__month-view__days{
		max-width: 180px;
	}
	.react-calendar__month-view__days button {
		padding: 6px 25px;
		font-size: 14px;
	}
	.todolist__create-todo button{
		padding: 7px;
	}	
}
@media (max-width:680px) {
	.react-calendar.calendar{
		max-width: 180px;
	}
	.react-calendar__month-view__days{
		max-width: 120px;
	}
	.doughnut{
		max-width: 180px;
	}
	.doughnut canvas{
		max-width: 180px;
	}
}
@media (max-width:580px) {
	.rightside{
		display: none;
	}
}
@media (max-height:730px) {
	.todolist__today-block{
		display: none;
	}
}