.polarchart{
	background: linear-gradient(90deg, rgb(241, 235, 77) 0%,  rgba(255, 179, 0, 0.784) 100%);
	box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.143);
	border-radius: 20px;
	padding: 10px;
}
.polarchart canvas{
	width: 320px !important;
	height: 320px !important;
}

@media (max-width:1600px) {
	.polarchart canvas{
		width: 280px !important;
		height: 280px !important;
	}
}